.comment-container {
  display: flex;
  flex-direction: column;
  margin: 5px 0px 5px 0px;

  & .body {
    display: flex;
    justify-content: left;
  }
  & .header-content-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 8px;
  }
  & .header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: left;

    & .name {
      font-size: 1.3rem;
      font-weight: 600;
      line-height: 1.125rem;
      margin-right: 4px;
    }
    & .date {
      color: rgb(117, 117, 117);
      font-size: var(--fs-300);
      font-weight: 400;
      line-height: 1.125rem;
      margin-right: 4px;
    }
    & .edited {
      color: rgb(117, 117, 117);
      font-size: var(--fs-300);
      font-weight: 400;
      line-height: 1.125rem;
    }
  }
  & .interaction {
    align-items: center;
    display: flex;
    justify-content: left;

    & .like {
      border-radius: 25px;
      font-size: var(--fs-300);
      font-weight: 500;
      line-height: 1.125rem;
      margin-right: 4px;
    }
    & .reply {
      align-items: center;
      border-radius: 25px;
      display: flex;
      font-size: var(--fs-300);
      font-weight: 500;
      height: 32px;
      line-height: 1.125rem;
      padding: 0px 12px;
    
      &:hover {
        background-color: rgba(117, 117, 117, .3);
        cursor: pointer;
      }
      &:focus-visible {
        animation: pulseBtn 1s infinite;
        outline: none;
      }
    }
  }
  & .replies-btn-container {
    align-items: center;
    display: flex;
    justify-content: left;
  }
  & .replies {
    align-items: center;
    border-radius: 25px;
    color: var(--primary-color);
    display: flex;
    font-size: var(--fs-400);
    height: 36px;
    justify-content: center;
    padding: 0px 16px;
  
    &:hover {
      background-color: var(--primary-color-light-selected);
      cursor: pointer;
    }
    &:focus-visible {
      animation: pulseRepliesBtn 1.5s infinite;
      outline: none;
    }
    & .expand-icon {
      margin-right: 6px;
    }
  }
  & .replies-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 48px;
  }
  & .more-container {
    display: inline-block;
    position: relative;
  }
}

@keyframes pulseBtn {
  0%, 100% {
    background-color: white;
    background-size: 0% 0%;
  }
  50% {
    background-color: rgba(117, 117, 117, .3); 
    background-size: 100% 100%;    
  }
}

@keyframes pulseRepliesBtn {
  0%, 100% {
    background-color: white;
    background-size: 0% 0%;
  }
  50% {
    background-color: var(--primary-color-light-selected); 
    background-size: 100% 100%;    
  }
}

.highlighted {
  background-color: var(--secondary-color-hover)
}
