.comment-expander-container {
  display: flex;
  flex-direction: column;

  & .text-container {
    line-height: 20px;
    text-align: left;
  }
  & .text {
    font-size: var(--fs-400) !important;
    margin: 4px 0px 0px 0px;
    white-space: pre-wrap;
  }
  & .expand-btn-container {
    display: flex;
    justify-content: flex-start;
  }
  & .expand-btn {
    align-items: center;
    border: 1px solid transparent;
    color: rgb(117, 117, 117);
    cursor: pointer;
    display: flex;
    font-weight: 400;
    height: 20px;
    margin-top: 4px;
    & span {
      font-size: var(--fs-300);
    }

    &:hover {
      text-decoration: underline;
    }
    &:focus-visible {
      animation: focusExpandBtn 2s infinite;
      outline: none;
    }
  }
}

@keyframes focusExpandBtn {
  0%, 100% {
    text-decoration: underline;
    color: var(--secondary-color);
  }
  50% {
    text-decoration: underline transparent;
    color: rgb(117, 117, 117);
  }
}