.square-button {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(150, 150, 150);
  color: white;
  display: flex;
  font-size: var(--fs-400);
  height: 50px;
  justify-content: space-around;
  margin: 4px;
  padding: 0px 16px;

  & .icon-margin {
    margin-left: 4px;
  }
  &:not([disabled]):hover {
    background-color: var(--primary-color-hover);
    cursor: pointer;
  }
  &:not([disabled]):focus {
    animation: pulseColor 1.5s infinite;
    outline: none;
  }
}
.square-button-not-selected {
  background-color: rgb(150, 150, 150);
}
.square-button-disabled {
  background-color: rgba(150, 150, 150, .3);
  color: black;
  pointer-events: none;
}
.square-button-square {
  border-radius: 5px;
}
.square-button-round {
  border-radius: 25px;
}


@keyframes pulseColor {
  0%, 100% {
    background-color: var(--primary-color-pulse-light);
    background-size: 0% 0%;
  }
  50% {
    background-color: var(--primary-color); 
    background-size: 100% 100%;    
  }
}

@media only screen and (max-width: 600px) {
  .square-button {
    height: 40px;
  
    & .icon-margin {

    }
    &:hover {

    }
    &:focus-visible {

    }
  }
  
  .square-button-not-selected {
  }
}