.posts-page .btn-container {
  display: flex;
  margin: 20px;
}

.posts-page .btn-container button {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 3px;
  color: white;
  font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !important;
  font-size: var(--fs-300);
  height: 40px;
  margin-right: 20px;
  width: 200px;
}

.posts-page .btn-container button:hover {
  background-color: rgb(36, 102, 39);
  border: none;
  border-radius: 3px;
  color: white;
  font-size: var(--fs-300);
  height: 40px;
  margin-right: 20px;
  width: 200px;
}

.posts-page .btn-container .selected {
  background-color: rgb(46, 125, 50);
}

@media only screen and (max-width: 600px) {
  .posts-page .btn-container {
    display: flex;
    margin: 10px 20px;
  }
}