.posts-page .btn-container{
  margin: 20px;
  display: flex;
}

.posts-page .btn-container button{
  height: 40px;
  width: 200px;
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 13px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif !important;
}
.posts-page .btn-container button:hover{
  height: 40px;
  width: 200px;
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 13px;
  background-color: rgb(36, 102, 39);
}

.posts-page .btn-container .selected {
  background-color: rgb(46, 125, 50);
}