.user-liked-posts-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  width: 100%;

  & .loading {
    align-self: center;
  }

  & .status {
    justify-self: center;
    align-self: center;
  }
}