.sign-up {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sign-up .left {
  background-image: url('../../Assets/table-background.jpg');
  background-size: cover;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}

.sign-up .left .logo {
  color: var(--primary-color);
  margin: 20px 10px !important;
}

.sign-up .right {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  Padding: 10px 20px;
}

.sign-up .right .logo {
  color: var(--primary-color);
  display: none;
}

.sign-up .log-in {
  align-items: center;
  display: flex;
}

.sign-up .log-in button {
  background-color: #7f7f80;
  border: 0px;
  border-radius: 8px;
  box-shadow: 0px 5px 12px #7f7f8080;
  color: white;
  font-size: var(--fs-500);
  height: 40px;
  margin-left: 20px;
  width: 90px;
}

.sign-up .log-in button:hover {
  background-color: #5d5d5d;
  cursor: pointer;
}

.sign-up .input-field-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.sign-up .register-response-message {
  background-color: rgb(214, 178, 1);
  border-radius: 20px;
  box-sizing: border-box;
  color: white;
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
  width: 100%;
}

.sign-up .input-field {
  align-items: center;
  align-self: center;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 12px 32px #26214a1a;
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
  padding: 30px 60px 30px 60px;
}

.sign-up .input-field label {
  align-self: flex-start;
  font-size: var(--fs-300);
  letter-spacing: .3px;
}

.sign-up .input-field input {
  border: 1px solid black;
  border-radius: 8px;
  box-sizing: border-box;
  height: 40px;
  margin-bottom: 30px;
  padding: 0 20px 0 36px;
  width: 100%;
}

.sign-up #name {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' class='bi bi-person' viewBox='0 0 16 16'%3E%3Cpath d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z'/%3E%3C/svg%3E");
  background-position: 8px 9px;
  background-repeat: no-repeat;
}

.sign-up #email {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' class='bi bi-envelope' viewBox='0 0 16 16'%3E%3Cpath d='M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z'/%3E%3C/svg%3E");
  background-position: 8px 9px;
  background-repeat: no-repeat;
}

.sign-up #password {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' class='bi bi-key' viewBox='0 0 16 16'%3E%3Cpath d='M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z'/%3E%3Cpath d='M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z'/%3E%3C/svg%3E");
  background-position: 8px 9px;
  background-repeat: no-repeat;
}

.sign-up #error {
  border: 1px solid red;
}

.sign-up .password-input {
  display: flex;
  width: 100%;
}

.sign-up .input-field .password-input input {
  border-radius: 8px 0px 0px 8px;
  margin-right: 4px;
}

.sign-up .input-field .password-input button {
  background-image: url('../assets/eye.svg');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px 8px 8px 0px;
  height: 40px;
  width: 50px;

  &:hover {
    background-color: var(--secondary-color-hover-dark);
    cursor: pointer;
  }
}

.sign-up .input-field button {
  background-color: var(--secondary-color);
  border: 0px;
  border-radius: 8px;
  box-shadow: 0px 5px 12px #7f7f8080;
  color: white;
  font-size: var(--fs-550);
  height: 50px;
  width: 100%;
}

.sign-up .input-field .btn-width {
  width: 100%;
}

.sign-up .link {
  align-self: center;
}

.sign-up .Link {
  color: var(--secondary-color);

  &:hover {
    color: var(--secondary-color-hover-dark);
  }
}

@media screen and (max-width: 600px) {
  .sign-up .right .logo {
    display: flex;
  }

  .sign-up .left {
    display: none;
  }

  .sign-up .right {
    padding-top: 0px;
    width: 100%;
  }
}