.create-post form{
  display: flex;
  flex-direction: column;
}

.create-post .image-container{
  height: 164px;
}

.create-post .body-container{
  border: 1px solid black;
  padding: 2px;
  min-height: 400px;
}