.profile-page .avatar {
  display: flex;
  justify-content: center;
}

.profile-page .input-container {
  justify-content: center;
  display: flex;
  width: 100%;
}

.profile-page .input-container .input-canvas {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 12px 32px #26214a1a;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  max-width: 500px;
}

.profile-page .input-container .input-row {
  align-items: center;
  display: flex;
  flex: 1;
  margin-bottom: 20px;
}

.profile-page .input-container .label {
  font-size: var(--fs-400);
  margin-right: 4px;
  min-width: 75px;
  text-align: right;
}

.profile-page .input-container .input {
  display: flex;
  height: 40px;
  padding: 0 20px 0 20px;
  width: 100%;
}

.profile-page .input-container input {
  background: linear-gradient(black 0 0) bottom / 0% 1px no-repeat;
  border: none;
  border-bottom: 1px solid black;
  font-size: var(--fs-400);
  padding: 0px 5px;
  transition: 0.5s;
  transition-property: background;
  width: 100%;

  &:focus {
    background-size: 100% 1px;
    outline: none;
  }
}

.profile-page .input-container .password input{
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  margin-right: 4px;
}

.profile-page .input-container .input button {
  background-color: #7f7f80;
  background-image: url('../assets/eye.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border: 1px solid black;
  border-radius: 0px 8px 8px 0px;
  height: 40px;
  width: 50px;
}

.profile-page .password button:hover {
  background-color: #5d5d5d;
  cursor: pointer;
}

.profile-page .profile-message {
  background-color: rgb(214, 178, 1);
  border-radius: 20px;
  box-sizing: border-box;
  color: white;
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
  width: 100%;
}

.profile-page .delete {
  margin: 20px 0px;
}

.profile-page .delete span{
  color: red;
  font-size: var(--fs-300);
}

.profile-page .delete span:hover {
  color: rgb(200, 0, 0);
  cursor: pointer;
}

.profile-page .popup-background {
  align-items: center;
  background-color: rgb(0, 0, 0, 0.8);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.profile-page .popup {
  background: rgb(237, 237, 237);
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 2px 2px 10px black;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  padding: 5px;
  width: 300px;
}

.profile-page .popup-btn-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.profile-page .popup h1 {
  font-size: var(--fs-550);
}

.profile-page .popup h4 {
  font-size: var(--fs-400);
  font-weight: 500;
}

.profile-page .popup-btn {
  border-radius: 5px;
  font-size: var(--fs-600);
  padding: 5px;
}

.profile-page .popup-cancel-btn {
  background: linear-gradient(grey, white, white);
  color: black;
  width: 100px;
}

.profile-page .popup-cancel-btn:hover {
  background: linear-gradient(white, grey, grey);
  color: black;
  cursor: pointer;
}

.profile-page .popup-delete-btn {
  background: linear-gradient(rgb(212, 25, 25), rgb(158, 50, 50));
  color: white;
  width: 100px;
}

.profile-page .popup-delete-btn:hover {
  background: linear-gradient(rgb(158, 50, 50), rgb(212, 25, 25));
  color: white;
  cursor: pointer;
}

.overlay-delete-container {

  & .page-overlay {
    align-items: center;
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    opacity: 0.4;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
  }
  & .check-delete-container {
    align-items: center;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 175px;
    justify-content: space-between;
    left: 50%;
    max-width: 300px;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    & span {
      font-size: var(--fs-400);
    }
    & button {
      background-color:  rgba(150, 150, 150, .3);
      border: none;
      border-radius: 25px;
      cursor: pointer;
      font-size: var(--fs-500);
      height: 36px;
      margin: 4px;
      padding: 0px 16px;
    }
    & .delete {
      background-color: red;
      color: white;

      &:hover {
        background-color: rgb(235, 0, 0);
      }
    }
    & .cancel {
      &:hover {
        background-color: rgba(130, 130, 130, 0.3);
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .profile-page .input-container .input-row {
    flex-direction: column;
  }

  .profile-page .input-container .label {
    align-self: flex-start;
    padding: 0px 20px;
    text-align: left;
  }
  .profile-page .input-container .input {
    height: 30px;
    margin-top: 4px;
  }
  .profile-page .input-container .input button {
    background-size: 25px;
    height: 30px;
  }

  .profile-page .check-delete-container {
    height: 175px;
    padding: 20px 10px;
    width: 200px;
  }
}