.profile-page .avatar {
  display: flex;
  justify-content: center;
}

.profile-page .input-container {
  align-items: center;
  align-self: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 12px 32px #26214a1a;
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 500px;
}

.profile-page .username {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}

.profile-page .username p {
  min-width: 100px;
}

.profile-page .username input {
  border: 1px solid black;
  border-radius: 8px;
  height: 40px;
  padding: 0 20px 0 20px;
  width: 100%;
}

.profile-page .email {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}

.profile-page .email p {
  min-width: 100px;
}

.profile-page .email input {
  border: 1px solid black;
  border-radius: 8px;
  height: 40px;
  padding: 0 20px 0 20px;
  width: 100%;
}

.profile-page .password {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}

.profile-page .password p {
  min-width: 100px;
}

.profile-page .password input {
  border: 1px solid black;
  border-radius: 8px 0px 0px 8px;
  height: 40px;
  margin-right: 2px;
  padding: 0 20px 0 20px;
  width: 100%;
}

.profile-page .password button {
  background-color: #7f7f80;
  background-image: url('../assets/eye.svg');
  background-position: 4px 5px;
  border-radius: 0px 8px 8px 0px;
  background-repeat: no-repeat;
  height: 40px;
  width: 50px;
}

.profile-page .password button:hover {
  background-color: #5d5d5d;
  cursor: pointer;
}

.profile-page .profile-message {
  background-color: rgb(214, 178, 1);
  border-radius: 20px;
  box-sizing: border-box;
  color: white;
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
  width: 100%;
}