.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .title a {
  color: var(--primary-color);
  text-decoration: none;

  &:focus-visible {
    animation: pulseLogo 1.5s infinite;
    outline: none;
  }
}

.header nav {
  align-items: center;
  border-bottom: 1px solid rgb(200, 200, 200);
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  width: 100%;
}

.header .right {
  align-items: center;
  display: flex;
  justify-content: center;
}

.css-zddlty-MuiButtonBase-root-MuiButton-root {
  background-color: transparent !important;
  color: black !important;
  font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif !important;
  padding: 0 !important;
}

#demo-customized-button {
  align-items: center;
  display: flex;
  height: 44px;
  justify-content: center;
  max-width: 190px;
}

#demo-customized-button .user {
  margin-left: 5px;
  max-width: 130px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MuiInputBase-root {
  font-size: var(--fs-400) !important;
}

.menuItem {
  font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif !important;
}

@media screen and (max-width: 550px) {
  #demo-customized-button .user {
    display: none;
  }
}

@keyframes pulseLogo {
  0%, 100% {
    color: white;
    background-size: 0% 0%;
  }
  50% {
    color: var(--primary-color); 
    background-size: 100% 100%;    
  }
}
