.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .header .title {
  color: rgb(255, 106, 0);
} */

.header .title a {
  color: rgb(255, 106, 0);
  text-decoration: none;
}

.header nav {
  align-items: center;
  border-bottom: 1px solid rgb(200, 200, 200);
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  width: 100%;
}

.header .right {
  align-items: center;
  display: flex;
  justify-content: center;
}

.css-zddlty-MuiButtonBase-root-MuiButton-root {
  background-color: transparent !important;
  color: black !important;
  font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif !important;
  padding: 0 !important;
}

#demo-customized-button {
  align-items: center;
  display: flex;
  height: 44px;
  justify-content: center;
  max-width: 190px;
}

#demo-customized-button .user {
  margin-left: 5px;
  max-width: 130px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menuItem {
  font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif !important;
}

@media screen and (max-width: 550px) {
  #demo-customized-button .user {
    display: none;
  }
}
