.btns {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: flex-end;
}

.btns .cancel {
  background: none;
  border: none;
  font-size: var(--fs-500);
  margin: 4px;
  padding: 0px 16px;
}

.btns .cancel:hover {
  background: rgba(150, 150, 150, .3);
  border-radius: 25px;
  cursor: pointer;
  height: 36px;
  margin: 4px;
}

.btns .comment {
  background-color:  rgba(150, 150, 150, .3);
  border: none;
  border-radius: 25px;
  font-size: var(--fs-500);
  height: 36px;
  margin: 4px;
  padding: 0px 16px;

  &:not([disabled]):hover {
    background-color: var(--primary-color-hover) !important;
  }
}

.comment-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .reply-input-container {
    align-items: flex-end;
    display: flex;
    & .avatar-container {
      align-self: flex-start;
    }
    & .input-text {
      background: linear-gradient(black 0 0) bottom / 0% 1px no-repeat;
      border: none;
      border-bottom: 1px solid black;
      cursor: text;
      flex: 1;
      line-height: var(--fs-500);
      margin-bottom: 10px;
      margin-top: 8px;
      overflow: hidden;
      padding-bottom: 3px;
      resize: none;
      transition: 0.5s;
      transition-property: background;
    
      &:focus {
        background-size: 100% 1px;
        outline: none;
      }
    }
  }
}
