.comment-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .reply-input-container {
    align-items: flex-end;
    display: flex;
  }
  & .avatar-container {
    align-self: flex-start;
  }
  & .input-text {
    background: linear-gradient(black 0 0) bottom / 0% 1px no-repeat;
    border: none;
    border-bottom: 1px solid black;
    cursor: text;
    flex: 1;
    line-height: var(--fs-500);
    margin-bottom: 10px;
    margin-top: 8px;
    overflow: hidden;
    padding-bottom: 3px;
    resize: none;
    transition: 0.5s;
    transition-property: background;
  
    &:focus-visible {
      background-size: 100% 1px;
      outline: none;
    }
  }
  & .btns {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: flex-end;

    & .cancel {
      background: none;
      border: none;
      border-radius: 25px;
      font-size: var(--fs-500);
      height: 36px;
      margin: 4px;
      padding: 0px 16px;

      &:hover {
        background-color: rgba(150, 150, 150, .3);
        cursor: pointer;
      }
      &:focus-visible {
        animation: pulseBtn 1s infinite;
        outline: none;
      }
    }
    & .comment {
      background-color:  rgba(150, 150, 150, .3);
      border: none;
      border-radius: 25px;
      font-size: var(--fs-500);
      height: 36px;
      margin: 4px;
      padding: 0px 16px;
    
      &:not([disabled]):hover {
        background-color: var(--primary-color-hover) !important;
      }
      &:not([disabled]):focus {
        animation: pulseCommentBtn 1s infinite;
        outline: none;
      }
    }
  }
}

@keyframes pulseBtn {
  0%, 100% {
    background-color: white;
    background-size: 0% 0%;
  }
  50% {
    background-color: rgba(150, 150, 150, .3); 
    background-size: 100% 100%;    
  }
}

@keyframes pulseCommentBtn {
  0%, 100% {
    background-color: var(--primary-color-pulse-light);
    background-size: 0% 0%;
  }
  50% {
    background-color: var(--primary-color); 
    background-size: 100% 100%;    
  }
}
