.more-component {
  & .more {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    flex: 1;
    height: 40px;
    justify-content: center;
    transition: border 0.35s, background-color 0s;
    transition-property: border background-color;
    width: 40px;
  
    &:active {
      background-color: rgba(150, 150, 150, .3);
      border: 1px solid grey;
      transition: border 0s, background-color 0s;
    }
    &:focus-visible {
      animation: pulseBtn 1.5s infinite;
      outline: none;
    }
  }
  & .dropdown-content {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: none;
    padding: 4px 0px;
    position: absolute;
    right: 0;
    width: 140px;
    z-index: 1;
  }
  & .link-container {
    display: flex;
    flex-direction: column;
  }
  & .link {
    align-items: center;
    color: black;
    cursor: pointer;
    display: flex;
    height: 36px;
    justify-content: center;
    padding: 0px 16px;
  
    & .icon {
      margin-right: 5px;
    }
    & .text {
      & span {
        color: black;
        font-size: var(--fs-400);
      }
    }
    &:hover {
      background-color: var(--secondary-color-selected);
    }
  }
  & .show {
    display: flex !important;
    flex-direction: column;
  }
}