.edit-page .top-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-page .top-container .left-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.edit-page .title-input{
  width: 100%;
}
.edit-page .description-input{
  width: 100%;
}
.edit-page label{
  text-align: left;
  font-size: 13px
}

.edit-page form{
  display: flex;
  flex-direction: column;
}

.edit-page .image-container{
  height: 164px;
}

.edit-page .body-container{
  border: 1px solid black;
  padding: 2px;
  min-height: 400px;
}