html, body {
  background-color: white;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !important;
}

#root {
  text-align: center;
}