html, body {
  background-color: white;
  font-size: 10px;
  margin: 0;
  padding: 0;
  scrollbar-color: grey rgb(245, 245, 245);
}

* {
  box-sizing: border-box;
  font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !important;
}

#root {
  text-align: center;
  --primary-color: rgb(255, 106, 0);
  --primary-color-hover: rgb(235, 98, 0);
  --primary-color-pulse-light: rgb(255, 165, 100);
  --primary-color-light-selected: rgba(255, 106, 0, 0.2);
  --secondary-color: rgb(0, 150, 255);
  --secondary-color-hover: rgba(0, 150, 255, 0.1);
  --secondary-color-hover-dark: rgb(0, 137, 235);
  --secondary-color-selected: rgba(0, 150, 255, 0.2);
  --fs-100: 0.8rem;
  --fs-200: 1rem;
  --fs-300: 1.2rem;
  --fs-400: 1.4rem !important;
  --fs-500: 1.6rem;
  --fs-550: 1.8rem;
  --fs-600: 2rem;
  --fs-700: 2.4rem;
  --fs-800: 2.8rem;
  --fs-850: 3.2rem;
  --fs-900: 3.6rem;

  h1{font-size: var(--fs-900); margin: 20px 0px;};
  h2{font-size: var(--fs-850); margin: 18px 0px;};
  h3{font-size: var(--fs-800); margin: 16px 0px;};
  h4{font-size: var(--fs-700); margin: 14px 0px;};
  h5{font-size: var(--fs-600); margin: 12px 0px;};
  h6{font-size: var(--fs-550); margin: 10px 0px;};
  p{font-size: var(--fs-500)};
}

@media only screen and (max-width: 600px) {
  #root {
    --fs-100: 0.8rem;
    --fs-200: 1rem;
    --fs-300: 1.2rem;
    --fs-400: 1.2rem !important;
    --fs-500: 1.2rem;
    --fs-550: 1.4rem;
    --fs-600: 1.6rem;
    --fs-700: 1.8rem;
    --fs-800: 2rem;
    --fs-850: 2.4rem;
    --fs-900: 2.8rem;

    h1{margin: 16px 0px;};
    h2{margin: 14px 0px;};
    h3{margin: 12px 0px;};
    h4{margin: 10px 0px;};
    h5{margin: 8px 0px;};
    h6{margin: 6px 0px;};
  }
}
