.home-page .category-links {
  align-items: center;
  display: flex;
  font-weight: 350;
  justify-content: space-between;
  margin-bottom: 5px;
  min-height: 40px;
  overflow-x: auto;
  padding: 0px 15px 0px 15px;
  scrollbar-width: thin;
  width: 100%;

  & .selected {
    color: var(--primary-color);

    &:focus-visible {
      animation: focusCategorySelectedLink 1.5s infinite;
      outline: none;
    }
  }
}

.home-page .category-links a {
  color: black;
  font-size: var(--fs-300);
  margin: 0px 10px 0px 10px;

  &:hover {
    color: var(--primary-color-hover) !important;
  }
  &:focus-visible {
    animation: focusCategoryLink 1.5s infinite;
    outline: none;
  }
}

.home-page .select-option-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 20px 0px;
}

.home-page .scroll-to-top {
  display: flex;
  justify-content: center;

  & a {
    cursor: pointer;
    font-size: var(--fs-300);
    margin: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .home-page .select-option-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
  }
}

@keyframes focusCategoryLink {
  0%, 100% {
    color: var(--secondary-color);
    text-decoration-color: var(--secondary-color);
  }
  50% {
    color: rgb(117, 117, 117);
    text-decoration-color: transparent;
  }
}

@keyframes focusCategorySelectedLink {
  0%, 100% {
    color: var(--primary-color);
    text-decoration-color: var(--primary-color);
  }
  50% {
    color: rgb(117, 117, 117);
    text-decoration-color: transparent;
  }
}