main {
  background: url('../../Assets/blog-background.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.App {
  border: 1px solid black;
  border-bottom: none;
  background-color: white;
  border-top: none;
  display: flex;
  flex-direction: column;
  font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  height: 100%;
  letter-spacing: -.01em;
  max-width: 1250px;
  overflow-y: scroll;
  padding: 0px 20px 0px 20px;
  width: 100%;
}

.home-page .category-links {
  align-items: center;
  display: flex;
  font-weight: 350;
  justify-content: space-between;
  min-height: 40px;
  overflow-x: auto;
  padding: 0px 15px 0px 15px;
  width: 100%;
}

.home-page .category-links a {
  color: black;
  margin: 0px 10px 0px 10px;
}

.home-page .select-option-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 20px 0px;
}

.home-page .scroll-to-top {
  display: flex;
  justify-content: center;

  & span {
    cursor: pointer;
    font-size: 12px;
    margin: 10px;
  }
}