.post-page {
  & .App {
    background-color: white;
    & .title-container {
      display: flex;
      justify-content: center;
    }
    & .description-container {
      display: flex;
      justify-content: center;
    }
    & .dates-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 5px 0px;

      & span {
        margin: 2px 0px;
      }
    }
    & .by-container {
      display: flex;
      font-size: var(--fs-300);
      justify-content: center;
      margin: 5px 0px;
    }
    & .edit-link-container {
      display: flex;
      font-size: var(--fs-300);
      justify-content: center;
      margin: 5px 0px;
    }
    & .editor-container {
      align-items: center;
      display: flex;
      font-size: var(--fs-550);
      justify-content: center;
    }
  }
}